body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00122b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: 'Mokoto';
  src: local('Mokoto') url('./font/mokoto-font/Mokoto Glitch Mark 2.ttf') format('Mokoto');
}

.tittle{
  color: aqua;
  font-family: cursive;
}

.map-row {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.map-item {
  width: 30px;
  height: 30px;
  color: gray;
  border: 1px black solid;
  background: white;
  font-size: 10px;
  text-align: center;
}

.map-item p {
  margin: 14px 0px 0px 10px;
  position: absolute;
  color: black;
}

.place {
  background-color: maroon;
}

.map-student {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: red;
  border: 1px black solid;
  vertical-align: middle;
  font-size: 10px;
  text-align: center;
}

.map-hallway {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}


